@import "tailwindcss";
@import "@nuxt/ui";

.dark {
  --ui-bg: #1a120c;
  --ui-text: #f3e2c6;
  --ui-accent: #d6b169;
  --ui-shadow: #b88a4f;
  --ui-border: #b88a4f;
}
html {
  --ui-bg: #f3e2c6;
  --ui-text: #3f2b1d;
  --ui-accent: #d6b169;
  --ui-shadow: #b88a4f;
  --ui-border: #b88a4f;
}
