:root {
  --bg: light-dark(#f3e2c6, #1a120c);
  --text: light-dark(#3f2b1d, #f3e2c6);
  --accent: light-dark(#3f2b1d, #d6b169);
  --shadow: light-dark(#b88a4f, #3f2b1d);
  --border: light-dark(#1a120c, #b88a4f);

  --font-primary: "Merriweather", serif;
  --transition: 0.3s ease-in-out;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-primary);
  transition: background-color var(--transition), color var(--transition);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}
